html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Cuprum', 'Arial', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__logo {
  background-color: #ee3643;
  width: 220px;
  height: 47px;
  padding-top: 13px;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
  text-align: center;
}

.footer__logo {
  background-color: #ee3643;
  width: 220px;
  height: 68px;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.header {
  width: auto;
  min-height: 320px;
  background-color: #f4f7f9;
}

.header__top {
  width: auto;
  max-height: 42px;
  background-color: #293449;
}

.header__btns {
  display: flex;
  flex-wrap: wrap;
}

.header__search {
  width: 221px;
  height: 42px;
  color: #ffffff;
  background-color: #293449;
  border: none;
  font-size: 17px;
  line-height: 42px;
  padding: 0;
  margin-left: 49px;
}

.header__search::placeholder {
  opacity: 1;
}

.header__btn {
  min-width: 150px;
  height: 42px;
  font-size: 17px;
  line-height: 42px;
  color: #ffffff;
}

.header__btn--bookmarks {
  padding-left: 50px;
  background-color: #293449;
}

.header__btn--cart {
  padding-left: 50px;
  background-color: #293449;
}

.header__btn--order {
  background-color: #63a63e;
  border: none;
  padding-left: 20px;
}

.header__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 46px;
  width: auto;
  min-height: 68px;
}

.header__about {
  max-width: 196px;
  margin-left: 53px;
  font-size: 16px;
  font-style: italic;
  text-align: left;
  color: #ee3643;
  line-height: 23px;
}

.header__contacts {
  max-width: 270px;
  margin-left: 71px;
}

.header__phone {
  display: block;
  font-size: 21px;
  line-height: 21px;
  border: solid 3px #ffffff;
  padding: 10px 49px 8px 71px;
  color: #ee3643;
}

.header__contacts p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 13px;
  color: #32425c;
  text-align: center;
}

.sign-in {
  width: 121px;
  height: 45px;
  font-size: 21px;
  line-height: 16px;
  color: #000000;
  border: none;
  background-color: #ffffff;
  padding-left: 48px;
  margin-left: 69px;
  margin-right: 10px;
}

.sign-up {
  width: 150px;
  height: 45px;
  font-size: 21px;
  line-height: 20px;
  border: none;
  background-color: #ffffff;
  padding: 0;
}

.header__account a {
  display: inline-block;
  text-decoration: underline;
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  margin-top: 8px;
}

.header__account-name {
  min-width: 299px;
  line-height: 45px;
  background-color: #ffffff;
  font-size: 21px;
  padding-left: 47px;
}

.header__orders {
  margin-left: 17px;
  margin-right: 32px;
}

.menu {
  width: auto;
  min-height: 60px;
  margin-top: 44px;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}

.menu__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  line-height: 55px;
  font-size: 17px;
  margin: 0;
  padding: 0;
}

.menu__items a {
  display: block;
  padding: 0 31px;
  text-align: center;
  color: #ffffff;
  line-height: 60px;
}

.main-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: flex-end;
  justify-content: space-between;
  margin-top: 59px;
}

.main-info__item {
  width: 300px;
  height: 123px;
  background-color: #ffbf47;
  margin-bottom: 20px;
  background-repeat: no-repeat;
}

.item-1 {
  background-image: url('../img/icon-1.png');
  background-repeat: no-repeat;
  background-position: 213px center;
}

.item-2 {
  background-image: url('../img/icon-2.png');
  background-repeat: no-repeat;
  background-position: 197px center;
  background-color: #3bbce3;
}

.item-3 {
  background-image: url('../img/icon-3.png');
  background-repeat: no-repeat;
  background-position: 191px center;
  background-color: #dc91d8;
}

.item-4 {
  background-image: url('../img/icon-4.png');
  background-repeat: no-repeat;
  background-position: 196px center;
  background-color: #8ed78f;
}

.item-5 {
  background-image: url('../img/icon-5.png');
  background-repeat: no-repeat;
  background-position: 191px center;
  margin-bottom: 0;
}

.main-info__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-info__item p {
  font-size: 24px;
  color: #ffffff;
  line-height: 22px;
  margin-top: 26px;
  margin-left: 23px;
  margin-bottom: 0;
}

.main-info__button {
  display: block;
  width: 135px;
  line-height: 38px;
  background: rgba(0, 0, 0, 0.1);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
  margin-left: 25px;
}

.main-info__slider {
  font-family: 'Cuprum', sans-serif;
  color: #ffffff;
  position: relative;
  width: 620px;
  height: 266px;
}

.slider-item-header {
  padding: 24px 0 2px 24px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
  margin: 0;
}

.slider-item-label {
  font-size: 18px;
  padding-left: 25px;
  margin: 0;
  line-height: 24px;
}

.main-info__slider-scroll {
  width: 22px;
  height: 40px;
  border: none;
  background-color: transparent;
  padding: 0;
}

.main-info__slider-scroll--left {
  position: absolute;
  left: 25px;
  top: 113px;
  z-index: 2;
}

.main-info__slider-scroll--left::before {
  content: '';
  display: block;
  width: 22px;
  height: 40px;
  background: url('../img/icon-left.svg') left center no-repeat;
}

.main-info__slider-scroll--right {
  position: absolute;
  right: 20px;
  top: 113px;
  z-index: 2;
}

.main-info__slider-scroll--right::before {
  content: '';
  display: block;
  width: 22px;
  height: 40px;
  background: url('../img/icon-right.svg') left center no-repeat;
}

.main-info__silder-button {
  position: absolute;
  left: 25px;
  top: 206px;
  display: block;
  width: 195px;
  height: 38px;
  background-color: #ee3643;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding-top: 10px;
  line-height: 18px;
  z-index: 2;
}

.slider-item-1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 620px;
  height: 266px;
  background-image: url('../img/slider-image-1.jpg');
  z-index: 1;
}

.slider-item-2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 620px;
  height: 266px;
  background-image: url('../img/slider-image-2.jpg');
  z-index: 1;
}

.popular {
  display: flex;
  justify-content: space-between;
  width: auto;
  min-height: 89px;
  background-color: #f9f5f0;
  margin-top: 53px;
  margin-bottom: 20px;
}

.popular h2 {
  color: #32425c;
  line-height: 26px;
  margin-left: 30px;
  margin-top: 33px;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.popular__button {
  display: block;
  width: 253px;
  height: 38px;
  font-size: 14px;
  line-height: 38px;
  background-color: #ee3643;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-right: 24px;
  margin-top: 25px;
}

.main__catalog {
  width: auto;
  margin-bottom: 21px;
}

.popular-brands {
  width: auto;
  margin-bottom: 85px;
}

.popular-brands__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.popular-brands__list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  margin: 0;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}

.service {
  width: auto;
  min-height: 522px;
  background-color: #f4f7f9;
}

.service__wrapper {
  width: auto;
  min-height: 123px;
  display: flex;
  justify-content: space-between;
  margin-top: 74px;
  flex-wrap: wrap;
}

.service h2 {
  display: inline-block;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
  color: #000000;
  margin: 0;
  padding-top: 58px;
}

.service__info {
  max-width: 398px;
  margin: 0;
  padding-top: 38px;
  font-family: 'PTSans', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.service__list {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.service__list-button {
  display: block;
  width: 240px;
  height: 61px;
  background-color: #32425c;
  margin: 0;
  border: none;
  color: #ffffff;
  font-size: 20px;
  padding: 0;
  padding-left: 23px;
  text-align: left;
}

.service__list-button--2 {
  box-shadow: inset 0px 1px 0 0 #405069;
}

.service__list-button--3 {
  box-shadow: inset 0px 1px 0 0 #405069;
}

.service__list-button--1:hover {
  background-color: #ffffff;
  color: #32425c;
}

.service__list-button--2:hover {
  background-color: #ffffff;
  color: #32425c;
}

.service__list-button--3:hover {
  background-color: #ffffff;
  color: #32425c;
}

.service__list-delivery {
  min-height: 269px;
  flex-grow: 1;
  padding-left: 80px;
  background-image: url('../img/delivery.png');
  background-repeat: no-repeat;
  background-position: right 30px;
}

.service__list-guarantee {
  display: none;
  min-height: 269px;
  flex-grow: 1;
  padding-left: 80px;
  background-image: url('../img/guarantee.png');
  background-repeat: no-repeat;
  background-position: right 10px;
}

.service__list-credit {
  display: none;
  min-height: 269px;
  flex-grow: 1;
  padding-left: 80px;
  background-image: url('../img/credit.png');
  background-repeat: no-repeat;
  background-position: right 10px;
}

.service__list-head {
  font-size: 36px;
  color: #32425c;
  margin: 0;
  text-transform: uppercase;
}

.service__list-about {
  max-width: 275px;
  font-family: 'PTSans', sans-serif;
  font-size: 13px;
  color: #000000;
  line-height: 24px;
  margin: 20px 0 0 0;
}

.breadcrumbs {
  display: flex;
  font-family: 'PTSans', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  list-style: none;
  margin: 25px 0 25px 54px;
  padding: 0;
  line-height: 18px;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs li:first-child {
  margin-right: 39px;
}

.breadcrumbs li:nth-child(2) {
  margin-right: 43px;
}

.container__title {
  min-height: 89px;
  background-color: #f2f6f8;
}

.container__title h2 {
  text-transform: uppercase;
  font-size: 30px;
  color: #32425c;
  margin: 0 0 0 30px;
  padding-top: 30px;
  font-weight: normal;
}

.filter {
  min-height: 38px;
  min-width: 220px;
  background-color: #f7f3ec;
}

.filter__label {
  margin: 0;
  display: inline-block;
  line-height: 38px;
  vertical-align: middle;
  padding-left: 18px;
  text-transform: uppercase;
  font-family: 'PTSans', sans-serif;
  font-size: 13px;
}

.sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 38px;
  flex-basis: 700px;
  background-color: #f7f3ec;
}

.sort__type {
  display: inline-block;
  font-family: 'PTSans', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0;
  line-height: 38px;
  vertical-align: middle;
}

.sort__type--label {
  padding-left: 19px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 220px;
  margin-top: 21px;
}

.filter-item legend {
  font-size: 17px;
  font-family: 'PTSans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 9px;
  background-color: #f7f3ec;
  border-radius: 5px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #000000;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle--min {
  left: 18px;
}

.range-controls .toggle--max {
  left: 160px
}

.price-controls input {
  width: 95px;
  height: 38px;
  font-family: 'PTSans', sans-serif;
  font-size: 17px;
  text-align: center;
  background-color: #f7f3ec;
  border: none;
  border-radius: 5px;
}

.price-controls input:first-child {
  margin-right: 26px;
}

.sort__type--price {}

.sort__type--type {}

.sort__type--function {}

.sort__up {
  display: inline-block;
  padding: 0;
  width: 10px;
  border: none;
  cursor: pointer;
  background-color: #f7f3ec;
}

.sort__down {
  display: block;
  width: 10px;
}

.manufacturer__title, .charge__title {
  font-family: 'PTSans', sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  padding: 0;
  margin-bottom: 20px;
}

.manufacturer label, .charge label {
  font-family: 'PTSans', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 17px;
  line-height: 20px;
}

.manufacturer label::before, .charge label::before {
  content: "";
  width: 27px;
  height: 25px;
  position: absolute;
  left: 0;
  top: -4px;
}

.manufacturer {
  max-width: 220px;
  min-height: 262px;
  margin-top: 25px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.charge {
  max-width: 220px;
}

.manufacturer input, .charge input {
  display: none;
}

.manufacturer label::before {
  background: url('../img/checkbox-off.svg') left center no-repeat;
}

.manufacturer input:checked+label::before {
  background: url('../img/checkbox-on.svg') left center no-repeat;
}

.charge label::before {
  background: url('../img/radio-off.svg') left center no-repeat;
}

.charge input:checked+label::before {
  background: url('../img/radio-on.svg') left center no-repeat;
}

.catalog-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.catalog-wrapper2 {
  min-width: 220px;
}

.catalog {
  max-width: 700px;
  font-family: 'PTSans', sans-serif;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: space-between;
  margin-top: 20px;
}

.catalog__item {
  text-align: center;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
}

.catalog__item h3 {
  max-width: 155px;
  margin: 0 auto;
  font-size: 18px;
}

.catalog__item-name {
  display: block;
  margin: 0 auto;
  color: #000000;
}

.catalog__item-newprice {
  display: block;
  width: 141px;
  height: 38px;
  margin-left: 41px;
  font-size: 17px;
  line-height: 38px;
  font-weight: bold;
  color: #ffffff;
  background: url('../img/item-button.png');
}

.catalog__item-photo {
  margin: 0;
}

.catalog__hidden {
  position: absolute;
  display: none;
}

.catalog__buy {}

.catalog__bookmark {}

.catalog__item-oldprice {
  text-decoration: line-through;
  font-weight: bold;
  color: #999999;
  margin: 18px 0 13px 0;
  line-height: 18px;
}

.catalog__price-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  min-height: 87px;
  margin-bottom: 21px;
}

.catalog-btns {
  width: auto;
  font-size: 0;
  margin-left: 240px;
}

.catalog-btns__btn {
  width: 38px;
  height: 38px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  margin-right: 10px;
  font-family: 'PTSans', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

.catalog-btn__btn--next {
  width: 140px;
}

.perforator-info {
  width: auto;
  min-height: 261px;
  background-color: #f4f7f9;
}

.perforator-info h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  padding-top: 67px;
}

.perforator-info p {
  font-family: 'PTSans', sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}

.article {
  display: flex;
  min-height: 536px;
  justify-content: space-between;
}

.acticle__info {
  max-width: 535px;
  padding-top: 82px;
}

.article__header {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.article__info-text {
  font-family: 'PTSans', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.article__info-about ul {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.article__info-about li {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
}

.article__company-button {
  display: block;
  width: 220px;
  background-color: #ee3643;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.article__contacts {
  max-width: 301px;
  padding-top: 82px;
}

.article__map {
  display: block;
  margin-top: 36px;
}

.article__feedback-button {
  display: block;
  width: 300px;
  margin-top: 40px;
  background-color: #ee3643;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.catalog__list {
  list-style: none;
}

.footer {
  min-height: 300px;
  background-color: #32425c;
}

.footer__content {
  min-height: 193px;
}

.footer__content-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__logo {
  text-align: center;
  padding-top: 20px;
}

.footer__adress {
  max-width: 322px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 22px;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  min-width: 550px;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.footer__nav li {
  padding-top: 25px;
}

.footer__nav a {
  display: inline-block;
  color: #ffffff;
  line-height: 50px;
}

.footer__nav--color {
  min-width: 527px;
}

.footer__nav--color a {
  display: inline-block;
  color: #ffda96;
  line-height: 20px;
}

.footer__content-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__info {
  min-height: 107px;
  background-color: #293449;
}

.container--footer {
  display: flex;
  justify-content: space-between;
}

.footer__copy {
  margin-top: 39px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  max-width: 228px;
}

.footer__social {
  margin-top: 39px;
  display: flex;
  list-style: none;
}

.footer__icon-back {
  display: block;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 50%;
  text-align: center;
}

.footer__icon-back img {
  margin-top: 10px;
}

.footer__mail {
  max-width: 254px;
  margin-top: 39px;
  padding-left: 119px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer__mail a {
  color: #ffda96;
}

.footer__developed {
  margin-top: 39px;
  max-width: 96px;
  ;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer__developed a {
  color: #ffda96;
}

.modal-form {
  display: none;
  position: relative;
  width: 620px;
  height: 430px;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  border-top: solid 7px #ee3643;
}

.modal-form::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background: url('../img/form-close.svg') no-repeat;
  right: 9px;
  top: 9px;
}

.modal-form__contact-form input {
  display: block;
  border: solid 2px #dee3e4;
  background-color: white;
  width: 220px;
  height: 38px;
  font-family: 'PTSans', sans-serif;
  font-size: 13px;
  padding-left: 16px;
}

.modal-form__contact-form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 55px;
}

.modal-form__contact-form label {
  display: block;
  padding-left: 0px;
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 13px;
}

.modal-form__contact-form div:nth-child(2n+1) {
  margin-left: 80px;
}

.modal-form__input-name {
  margin-right: 20px;
}

.modal-form__input-text {
  margin-top: 22px;
}

.modal-form__input-text textarea {
  overflow: hidden;
  width: 460px;
  height: 114px;
  padding: 13px 16px;
  outline: none;
  resize: none;
  font-family: 'PTSans', sans-serif;
  font-size: 13px;
  line-height: 13px;
  border: solid 2px #dee3e4;
  background-color: white;
}

.modal-form__btn-background {
  width: 620px;
  height: 112px;
  background-color: #f4f4f4;
  margin-top: 37px;
}

.modal-form__btn-background button {
  width: 460px;
  height: 38px;
  margin: 37px 80px;
  background-color: #ee3643;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.modal-map {
  display: none;
  position: relative;
  width: 940px;
  height: 447px;
  box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
  background-color: #565656;
}

.modal-map::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background: url('../img/form-close.svg') no-repeat;
  right: 9px;
  top: 9px;
}

.modal-cart {
  display: none;
  width: 620px;
  height: 282px;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
  border-top: solid 7px #ee3643;
}

.modal-cart__info {
  position: relative;
  height: 182px;
  text-align: center;
}

.modal-cart__info::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background: url('../img/form-close.svg') no-repeat;
  right: 9px;
  top: 9px;
}

.modal-cart__info div {
  position: relative;
  padding-top: 75px;
  font-size: 30px;
  line-height: 27px;
  padding-left: 179px;
  text-align: left;
}

.modal-cart__info div::before {
  content: "";
  position: absolute;
  width: 66px;
  height: 66px;
  left: 81px;
  top: 55px;
  background: url('../img/modal-check.png') no-repeat;
}

.modal-cart__buttons {
  display: flex;
  width: 620px;
  height: 112px;
  background-color: #f1f1f1;
}

.modal-cart__order {
  width: 220px;
  height: 38px;
  margin: 37px 20px;
  margin-left: 80px;
  background-color: #ee3643;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  color: #ffffff;
}

.modal-cart__continue {
  width: 220px;
  height: 38px;
  margin-top: 37px;
  background-color: #ffffff;
  font-size: 14px;
  text-align: center;
  color: #000000;
  border: none;
}